---
import CenterContainer from "./centerContainer.astro";
---

<script is:inline>
  document
    .getElementById("termsLink")
    .setAttribute("href", `${location.origin}/terms`);
  document
    .getElementById("privacyLink")
    .setAttribute("href", `${location.origin}/privacy`);
  document
    .getElementById("communityGuidelines")
    .setAttribute("href", `${location.origin}/communityGuidelines`);
  document
    .getElementById("termsLink1")
    .setAttribute("href", `${location.origin}/terms`);
  document
    .getElementById("privacyLink1")
    .setAttribute("href", `${location.origin}/privacy`);
  document
    .getElementById("communityGuidelines1")
    .setAttribute("href", `${location.origin}/communityGuidelines`);
</script>
<main
  class="w-full pb-[64px] md:pb-0 px-6 py-12 md:py-0 md:px-0 relative bg-black"
>
  <CenterContainer class="flex flex-col gap-[16px] md:hidden">
    <div class="flex flex-col gap-5 items-start md:hidden mb-20">
      <a href="/" class="text-lg flex items-center">
        <img class="h-[31px]" src="/images/logo-footer.svg" alt="" />
      </a>
      <div class="flex w-full gap-20">
        <div class="flex flex-col gap-5">
          <a
            href="https://www.instagram.com/tomoinc/"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Instagram</span
            >
          </a>
          <a
            href="https://twitter.com/tomo_social"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >X</span
            >
          </a>

          <a
            href="https://id.tomo.inc/tomo"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >TomoID</span
            >
          </a>
          <a
            href="https://medium.com/tomoinc"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Medium</span
            >
          </a>
          <a
            href="https://www.youtube.com/@Tomo_Social"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Youtube</span
            >
          </a>
          <a
            href="https://t.me/tomoinc"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Telegram
            </span>
          </a>
        </div>
        <div class="flex flex-col gap-5">
          <a
            href="https://github.com/UnyxTech"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Github</span
            >
          </a>
          <a
            href="https://docs.tomo.inc"
            target="_blank"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Docs</span
            >
          </a>
          <a
            id="termsLink"
            target="_blank"
            href="https://tomo.inc/terms"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Terms of Service</span
            >
          </a>
          <a
            id="privacyLink"
            target="_blank"
            href="https://tomo.inc/privacy"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Privacy Policy</span
            >
          </a>
          <a
            id="communityGuidelines"
            target="_blank"
            href="https://tomo.inc/communityGuidelines"
            class="cursor-pointer flex gap-[10px]"
          >
            <span class="font-['PopinsNormal'] text-white text-sm tracking-0.8"
              >Community Guidelines</span
            >
          </a>
        </div>
      </div>
    </div>
    <div
      class="text-start w-full text-[12px] text-white opacity-50 leading-[18px] tracking-0.7 font-['PopinsNormal']"
    >
      Copyright: @2024 Tomo Inc. All Rights Reserved.
    </div>
  </CenterContainer>

  <CenterContainer class="hidden md:flex justify-between py-10">
    <div class="flex flex-col justify-between gap-40">
      <img src="/images/footer-logo.svg" alt="" />
      <span
        class="text-[12px] font-normal leading-[125%] tracking-[0.12px] text-[#EFF0F0] font-['PopinsNormal']"
        >©2024 Tomo Inc. All rights reserved.</span
      >
    </div>
    <div class="flex gap-16">
      <div class="flex flex-col gap-5">
        <a
          href="https://www.instagram.com/tomoinc/"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Instagram</span
          >
        </a>
        <a
          href="https://twitter.com/tomo_social"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >X</span
          >
        </a>
        <a
          href="https://id.tomo.inc/tomo"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >TomoID</span
          >
        </a>
        <a
          href="https://medium.com/tomoinc"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Medium</span
          >
        </a>
        <a
          href="https://www.youtube.com/@Tomo_Social"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Youtube
          </span>
        </a>
        <a
          href="https://t.me/tomoinc"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Telegram
          </span>
        </a>
      </div>
      <div class="flex flex-col gap-5">
        <a
          href="https://docs.tomo.inc"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Docs</span
          >
        </a>
        <a
          href="https://github.com/UnyxTech"
          target="_blank"
          class="cursor-pointer flex gap-[10px]"
        >
          <span
            class="font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
            >Github</span
          >
        </a>
      </div>
      <div class="flex flex-col gap-5">
        <a
          id="termsLink1"
          target="_blank"
          href="https://tomo.inc/terms"
          class="cursor-pointer font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
        >
          Terms of Service
        </a>
        <a
          id="privacyLink1"
          target="_blank"
          href="https://tomo.inc/privacy"
          class="cursor-pointer font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
        >
          Privacy Policy
        </a>
        <a
          id="communityGuidelines1"
          target="_blank"
          href="https://tomo.inc/communityGuidelines"
          class="cursor-pointer font-['PopinsNormal'] text-[#EFF0F0] text-[18px] tracking-[0.18px] leading-[125%] font-normal"
        >
          Community Guidelines
        </a>
      </div>
    </div>
  </CenterContainer>
</main>
